<script>
import { RouterView } from 'vue-router';
import AdminHeader from '@/components/AdminHeader.vue';
import { 
    PieChartOutlined, 
    DesktopOutlined, 
    CloudUploadOutlined } 
from '@ant-design/icons-vue';
import { defineComponent, toRefs } from 'vue';
import { adminNavState } from '@/stores/store.admnav';

export default defineComponent({
    components: {
        PieChartOutlined,
        DesktopOutlined,
        AdminHeader,
        CloudUploadOutlined
    },
    setup() {
        const store = adminNavState();
        const state = store.state;

        return {
            ...toRefs(state),
            RouterView
        }
    }
})
</script>

<template>
    <AdminHeader />
    <a-layout style="min-height: 100vh">
        <a-layout-sider
        :style="{ overflow: 'auto', height: '100vh', position: 'fixed', left: 0, top: '48px', bottom: 0 }">
            <a-menu v-model:selectedKeys="selectedKeys" theme="dark" mode="inline">
                <a-menu-item key="/admin/dashboard">
                    <template #icon>
                        <PieChartOutlined />
                    </template>
                    <RouterLink to="/admin/dashboard">
                        <span>Dashboard</span>
                    </RouterLink>
                </a-menu-item>

                <a-menu-item key="/admin/monitoring">
                    <template #icon>
                        <DesktopOutlined />
                    </template>
                    <RouterLink to="/admin/monitoring">
                        <span>Monitoring</span>
                    </RouterLink>
                </a-menu-item>

                <a-menu-item key="/admin/film-manager">
                    <template #icon>
                        <CloudUploadOutlined />
                    </template>
                    <RouterLink to="/admin/film-manager">
                        <span>Film manager</span>
                    </RouterLink>
                </a-menu-item>
            </a-menu>
        </a-layout-sider>
        
        <a-layout :style="{ marginLeft: '200px' }">
            <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }">
                <RouterView />
            </a-layout-content>
        </a-layout>
        
    </a-layout>
</template>

<style lang="scss" scoped>
#components-layout-demo-custom-trigger {
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: #1890ff;
        }
    }

    .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.3);
        margin: 16px;
    }
}

.site-layout {
    .site-layout-background {
        background: #fff;
    }
}
</style>
