<script setup>
import { RouterView } from 'vue-router'
import Publicfooter from '../components/Publicfooter.vue';
import PublicHeader from '../components/PublicHeader.vue';
</script>

<template>
    <div class="d-flex flex-column min-vh-100 bg-dark">
            <Suspense>
                <PublicHeader />
            </Suspense>
            <Suspense>
            <div class="container">
                <RouterView></RouterView>
            </div>
            </Suspense>
            <Publicfooter />
    </div>
</template>

<style scoped></style>
