<script setup>
import { UserOutlined } from '@ant-design/icons-vue';
import { ref } from 'vue';

const value = ref('');
const onSearch = () => {
    console.log(value.value)
}
</script>

<template>
    <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <div class="col-md-4">
                    <a class="navbar-brand" href="#">EFilm_Admin</a>
                </div>
                <div class="col-md-4">
                    <a-input-search v-model:value="value" placeholder="Search something ..." enter-button
                        @search="onSearch" />
                </div>
                <div class="col-md-4 d-flex flex-row-reverse">
                    <a-avatar>
                        <template #icon>
                            <UserOutlined />
                        </template>
                    </a-avatar>
                </div>
            </div>
        </nav>
    </header>
</template>

<style lang="scss" scoped>
.ant-input {
    background-color: azure;
}
</style>
