<script setup>


</script>

<style lang="scss" scoped>

</style>
<template>
    <!-- Footer -->
<footer class="bg-dark text-center text-white mt-auto">
  <!-- Grid container -->
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Chúc bạn có những phút giây vui vè cùng Eflim
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">Phim hay</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Phim Mỹ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Phim Nhật</a>
            </li>
            <li>
              <a href="#!" class="text-white">Phim Trung Quốc</a>
            </li>
            <li>
              <a href="#!" class="text-white">Phim Việt Nam</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">Phim Hot</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Phim hot trong tháng</a>
            </li>
            <li>
              <a href="#!" class="text-white">Phim mới lẻ mới cập nhật</a>
            </li>
            <li>
              <a href="#!" class="text-white">Phim bộ mới cập nhật</a>
            </li>
            <li>
              <a href="#!" class="text-white">Phim anime</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">Trợ giúp</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Hỏi đáp</a>
            </li>
            <li>
              <a href="#!" class="text-white">Liện Hệ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Thông báo</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-white">Thông tin</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Điều khoản sử dụng</a>
            </li>
            <li>
              <a href="#!" class="text-white">Khiếu nại bản quyền</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chính sách Eflm</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="text-white" href="https://mdbootstrap.com/">FBT University</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</template>