<script setup>
import { getAllGenres, getAllCountrys, yearCurrent } from '@/helpers/api/homePage.service.js';
import { reactive } from 'vue';
const genres = await getAllGenres();
const countrys = await getAllCountrys();
const years = await yearCurrent();

var tag = reactive();
const searchByTag = ()=>{
  if(tag!=null){
    window.location.href="/home/filter/tag/"+ tag;
  }
}

</script>


<style lang="scss" scoped>
@import '@/assets/css/PublicHeader.scss';
</style>
<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">
          <img src="@/assets/Image/logo.png" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Phim mới cập nhật</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home/filter/type-movie/2"  > Phim lẻ</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/home/filter/type-movie/1"  > Phim bộ</a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Thể Loại
              </a>
              <ul class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                <li v-for="item in genres" :key="item.genreId">
                  <a class="dropdown-item" :href="`/home/filter/genre/${item.genreId}`" > {{ item.genreName }}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown" on-mouseover="">
              <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Quốc Gia
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li v-for="item in countrys" :key="item.countryId">
                  <a class="dropdown-item" :href="`/home/filter/country/${item.countryId}`" >{{ item.countryName }}</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Năm phát hành
              </a>
              <ul class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                <li v-for="year in years" :key="year.key">
                  <a class="dropdown-item" :href="`/home/filter/release-year/${year.key}`">{{ year.value }}</a>
                </li>

              </ul>
            </li>
          </ul>
          <form class="d-flex" @submit.prevent="searchByTag">
            <input v-model="tag" class="form-control me-2" type="search" placeholder="Tên phim....." aria-label="Search">
            <button class="btn btn-outline-warning text-white" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</template>