<script setup>
import Artplayer from 'artplayer';
import artplayerPluginHlsQuality from 'artplayer-plugin-hls-quality';
import { nextTick, ref, onMounted, onBeforeUnmount } from 'vue';
import { playM3u8 } from '@/helpers/codex/hls.codex.js';

const instance = ref(null);
const artRef = ref(null);
const emit = defineEmits(['get-instance']);

const props = defineProps({
    options:{
        type: Object,
        required: true
    }
});

onMounted(() => {
    Artplayer.DBCLICK_FULLSCREEN = false
    instance.value = new Artplayer({
        url:props.options.url,
        type: 'm3u8',
        setting: true,
        settings: [
            {
                html: 'Subtitle',
                width: 250,
                tooltip: 'Subtitle',
                selector: [...props.options.subtitle],
                onSelect: (item) => {
                    instance.value.subtitle.url = item.url;
                    instance.value.subtitle.style({
                        color: item.color,
                    });
                    return item.html;
                },
            }
        ],
        plugins: [
            artplayerPluginHlsQuality({
                // Show quality in control
                control: false,

                // Show quality in setting
                setting: true,

                // Get the resolution text from level
                getResolution: (level) => resolution(level.height),

                // I18n
                title: 'Quality',
                auto: 'Auto'
            })
        ],
        controls: [
            {
                position: 'right',
                html: 'Fullscreen',
                click: () => {
                    instance.value.fullscreen = !instance.value.fullscreen
                }
            }
        ],
        customType: {
            m3u8: playM3u8
        },
        container: artRef.value
    });

    nextTick(() => {
        emit('get-instance', instance.value)
    });
});

onBeforeUnmount(() => {
    if (instance.value && instance.value.destroy) {
        instance.value.destroy(false);
    }
});

const resolution = (height) => {
    if (height < 1440) {
        return height + 'P';
    }

    switch (height) {
        case 1440:
            return `2K`;
    }
};
</script>

<template>
    <div ref="artRef"></div>
</template>
