li.section.left,
li.section.left~li {
    float: left;
    margin-right: 0em;
}
 ul {
     list-style: none;
 }
 .lagre-item{
    width: 36%;
    height: 273px;
    margin: 5px;
 }
 .small-item{
    width: 18%;
    height: 134px;
    margin: 6px;
    margin-bottom: 50px;
 }
 .lagre-img {
    width: 460px;
    height: 273px;
    object-fit: cover;
    object-position: center;
 }

 .small-img {
    width: 226px;
    height: 134px;
    object-fit: cover;
    object-position: center;
    margin: 6px;
 }
 .clearfix {
     clear: both;
 }
