<script setup>
import {getNewMovies} from "@/helpers/api/homePage.service.js"
const params1 = new URLSearchParams([['typeMovie', 1]]);
const params2 = new URLSearchParams([['typeMovie', 2]]);
const movieMovies =await getNewMovies(params1);
const movieSerises =await getNewMovies(params2);

</script>
<style>
 @import '@/assets/css/HomePage/NewMovies.scss';
 @import '@/assets/css/homePage.scss';

</style>
<template>
    <h1 class="text-white">Phim lẻ</h1>
<ul >
    <li class="section left"></li>
    <li  v-for="item in movieMovies" :key="item.movieId" v-bind:class="(item===movieMovies[0])?'lagre-item':'small-item'">
<a class="col-md-3" :href="'/home/details/' + item.movieId">
							<div class="card bg-dark hover01 column">
								<div class=" text-white">{{item.status}}</div>
								<div class="card-img">
						<figure>	
<img :src="item.thumbnailUrl"  
        v-bind:class="(item===movieMovies[0])?'lagre-img':'small-img'">
									</figure>		
								</div>
								<div class="text-center card-img text-white">{{item.title}}</div>
								
							</div>
					</a>
    </li>
     <div class="clearfix"></div>
</ul>
<br/>
<h1 class="text-white">Phim bộ</h1>
<ul>
    <li class="section left"></li>
    <li  v-for="item in movieSerises" :key="item.movieId" v-bind:class="(item===movieSerises[0])?'lagre-item':'small-item'">
        <a class="col-md-3" :href="'/home/details/' + item.movieId">
							<div class="card bg-dark hover01 column">
								<div class=" text-white">{{item.status}}</div>
								<div class="card-img">
						<figure>	
        <img :src="item.thumbnailUrl"  v-bind:class="(item===movieSerises[0])?'lagre-img':'small-img'">
									</figure>		
								</div>
								<div class="text-center card-img text-white">{{item.title}}</div>
								
							</div>
					</a>
    </li>
</ul>
 <div class="clearfix"></div>
</template>
