<script setup>
import {getHotMovies} from "@/helpers/api/homePage.service.js"
import {Carousel} from '@/assets/js/HomePage/SlideHotMovies.js'
import { onMounted } from "vue";
const movies =await getHotMovies();

onMounted(() => {
    Carousel();
})
</script>
<style lang="scss">
 @import '@/assets/css/HomePage/SlideHotMovies.scss';
 @import '@/assets/css/homePage.scss';
</style>
<template>
	<h1 class="text-white">Phim hot trong tháng</h1>
 <div class="  my-3">
		<div class="row mx-auto my-auto justify-content-center">
			<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item "  v-for="item in movies" :key="item.movieId"  
                    v-bind:class = "(item===movies[0])?'active':''" >
					<a class="col-md-3" :href="'/home/details/' + item.movieId">
							<div class="card bg-dark hover01 column">
								<div class=" text-white">{{item.status}}</div>
								<div class="card-img">
						<figure>	
<img :src="item.thumbnailUrl"  class="img-fluid"  style="width: 300px; height: 150px; object-fit: cover; object-position: center;">
									</figure>		
								</div>
								<div class="text-center card-img text-white">{{item.title}}</div>
								
							</div>
					</a>
					</div>
					
				</div>
				<a class="carousel-control-prev bg-transparent w-aut" 
				
				href="#recipeCarousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</a>
				<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</a>
			</div>
		</div>		
	</div>
	
</template>