<script setup>
const emit = defineEmits(["commit:data", "update:show"]);
const props = defineProps({
    show: {
        type: Boolean,
        required: true
    },
    title: {
        type: String,
        required: true
    },
    width: {
        type: Number,
        required: true
    },
    cofirmText: {
        type: String,
        required: true
    }
})

const handleOk = () => {
    emit("commit:data");
};

const handleClose = () => {
    emit("update:show", false);
}
</script>

<template>
    <a-modal :visible="props.show" :width="props.width" :title="props.title" @cancel="handleClose">
        <slot></slot>
        <template #footer>
            <div class="modal-footer">
                <a-button type="primary" @click="handleOk">{{ props.cofirmText }}</a-button>
            </div>
        </template>
    </a-modal>
</template>


<style lang="scss"></style>