<script setup>
</script>

<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <a-form ref="formRef" :model="formData" :rules="rules">
                    <a-form-item has-feedback label="Movie name" name="filmName">
                        <a-input v-model:value="formData.filmName" type="text" autocomplete="off" />
                    </a-form-item>
                </a-form> -->
            </div>

            <div class="col-md-6">
                <h1>b</h1>

            </div>
        </div>
    </div>
</template>