<script setup>
import { ref } from 'vue';
import SearchOmdb from './SearchOmdb.vue';

const current = ref(0);

const next = () => {
    current.value++;
};

const prev = () => {
    current.value--;
};

const steps = [{
    title: 'First',
},
{
    title: 'Second',
},
{
    title: 'Last',
}];

const items = steps.map(item => ({
    key: item.title,
    title: item.title,
}));

</script>

<template>
    <h1>Add new film</h1>

    <div>
        <a-steps :current="current" :items="items"></a-steps>
        <div class="steps-content">
            <div v-if="current == 0">
                <SearchOmdb />
            </div>

            <div v-if="current == 1">
                <SearchOmdb />
            </div>

            <div v-if="current == 2">
                <SearchOmdb />
            </div>
        </div>
        <div class="steps-action">
            <a-button v-if="current < steps.length - 1" type="primary" @click="next">Next</a-button>
            <a-button v-if="current == steps.length - 1" type="primary" @click="message.success('Processing complete!')">
                Done
            </a-button>
            <a-button v-if="current > 0" style="margin-left: 8px" @click="prev">Previous</a-button>
        </div>
    </div>
</template>

<style scoped>
.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
}

.steps-action {
    margin-top: 24px;
}

[data-theme='dark'] .steps-content {
    background-color: #2f2f2f;
    border: 1px dashed #404040;
}
</style>