<script setup>
import { onMounted, reactive, ref } from 'vue';
import { UploadOutlined } from '@ant-design/icons-vue';
import { useVideoStore } from '@/stores/store.film.js';
import AdminUploadModal from '@/components/AdminUpload/AdminUploadModal.vue';
import MovieDetailsForm from '@/components/AdminDetails/MovieDetailsForm.vue';

const data = ref([]);
const paging = reactive({
    totalItem: 0,
    currentPage: 1,
    pageSize: 2,
    totalPage: 1,
    startPage: 0,
    endPage: 0
});
const videoStore = useVideoStore();
const visible = ref(false);
const current = ref(1);
const isLoading = ref(true);

const columns = [{
    title: 'Thumbnail',
    dataIndex: 'thumbnailUrl',
    key: 'thumbnailUrl',
    width: '15%',
},
{
    title: 'Name',
    dataIndex: 'title',
    key: 'title',
    width: '60%',
},
{
    title: 'Movie type',
    dataIndex: 'movieType',
    key: 'movieType',
    width: '10%',
},
{
    title: 'Action',
    dataIndex: 'movieAction',
    key: 'movieAction',
    width: '15%',
}];

onMounted(async () => {
    const response = await videoStore.loadListFilm(0);
    data.value = response.response.data.adminMovieResponseModel;
    Object.assign(paging, response.response.data.pagination);
    current.value = paging.currentPage;
    isLoading.value = false;
});

const modalOption = reactive({
    title: '',
    width: '',
    confirmText: '',
    action: '',
    content: '',
    selectedId: ''
});

const moreAction = (movieId) => {
    modalOption.title = 'Movie details';
    modalOption.width = '1000px';
    modalOption.confirmText = 'Confirm';
    modalOption.action = 'viewDetails';
    modalOption.selectedId = movieId;

    visible.value = true;
    console.log(movieId);
}

const onChange = async () => {
    const response = await videoStore.loadListFilm(current.value);
    paging.value = response.response.data.pagination;
    data.value = response.response.data.adminMovieResponseModel;
}


const handleCustomOk = () => {

};

const addNewMovie = () => {
    modalOption.title = 'Add new movie';
    modalOption.width = '1000px';
    modalOption.confirmText = 'Confirm';
    modalOption.action = 'addnew';

    visible.value = true;
}
</script>

<template>
    <div class="row">
        <div class="col-12">
            <h1>Film manager</h1>
        </div>

        <div class="col-12 mb-3 d-flex flex-row-reverse">
            <a-button type="primary" @click="addNewMovie">
                <template #icon>
                    <UploadOutlined />
                </template>

                <span>Add new movie</span>
            </a-button>
        </div>

        <div class="col-12">
            <a-table :columns="columns" :data-source="data" :pagination="false">
                <template #bodyCell="{ column, record }">
                    <template v-if="column.key === 'movieAction'">
                        <a @click.stop.prevent="moreAction(record.movieId)" href="#">Details</a>
                    </template>

                    <template v-if="column.key === 'thumbnailUrl'">
                        <img :src="record.thumbnailUrl" class="img-thumbnail">
                    </template>
                </template>
            </a-table>
        </div>

        <div class="text-center" v-show="!isLoading">
            <a-pagination v-model:current="current" :total="paging.totalItem" :defaultCurrent="1"
                :pageSize="paging.pageSize" show-less-items @change="onChange" />
        </div>
    </div>

    <AdminUploadModal :show="visible" :title="modalOption.title" :width="modalOption.width"
        :cofirm-text="modalOption.confirmText" @commit:data="handleCustomOk(modalOption.action)"
        @update:show="visible = $event">
        <!-- Modal content -->
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a-form ref="formRef" :model="formData" :rules="rules">
                        <a-form-item has-feedback label="Movie name" name="filmName">
                            <a-input v-model:value="formData.filmName" type="text" autocomplete="off" />
                        </a-form-item>
                    </a-form>
                </div>

                <div class="col-md-6">
                    <h1>b</h1>

                </div>
            </div>
        </div> -->

        <div v-if="modalOption.action === 'addnew'">

        </div>

        <div v-if="modalOption.action === 'viewDetails'">
            <MovieDetailsForm :movieId="modalOption.selectedId"></MovieDetailsForm>
        </div>
    </AdminUploadModal>
</template>

<style lang="scss">
.img-thumbnail {
    max-width: 100px;
}
</style>
