<script setup>
const dataSource = [
    {
        key: '1',
        name: 'Mike',
        age: 32,
        address: '10 Downing Street'
    },
    {
        key: '2',
        name: 'John',
        age: 42,
        address: '10 Downing Street'
    }
]

const columns = [
    {
        title: 'Name',
        dataIndex: 'name',
        key: 'name'
    },
    {
        title: 'Age',
        dataIndex: 'age',
        key: 'age'
    },
    {
        title: 'Address',
        dataIndex: 'address',
        key: 'address'
    }
]
</script>

<template>
    <div class="row">
        <div class="col-md-12">
            <h1>Monitoring</h1>
        </div>

        <div class="col-md-12">
            <h3>Current task in queue: 1</h3>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a-table :dataSource="dataSource" :columns="columns" size="middle" />
        </div>
    </div>
</template>

<style lang="scss"></style>
