<script setup>
import { useVideoStore } from '@/stores/store.film.js';

import { reactive, watch } from 'vue';
import { debounce } from 'lodash-es';

let lastFetchId = 0;
const state = reactive({
    data: [],
    value: [],
    fetching: false,
});

const videoStore = useVideoStore();

const fetchUser = debounce(async (value) => {
    console.log('fetching user', value);
    lastFetchId += 1;
    const fetchId = lastFetchId;
    state.data = [];
    state.fetching = true;

    const body = await videoStore.searchFilmOmdb(value);
    console.log(body);
    if (!body) {
        return;
    }

    if (body) {
        if (fetchId !== lastFetchId) {
            // for fetch callback order
            return;
        }

        const data = body.response.data.map(film => ({
            label: `${film.title}`,
            value: film.imdbId,
        }));
        state.data = data;
        state.fetching = false;
    }
}, 300);

watch(state.value, () => {
    state.data = [];
    state.fetching = false;
});

</script>

<template>
    <h1>Search</h1>

    <a-select v-model:value="state.value" mode="multiple" label-in-value placeholder="Select users" style="width: 100%"
        :filter-option="false" :not-found-content="state.fetching ? undefined : null" :options="state.data"
        @search="fetchUser">
        <template v-if="state.fetching" #notFoundContent>
            <a-spin size="small" />
        </template>
    </a-select>
</template>