<script setup>
import { getAllGenres, getAllCountrys, yearCurrent, getMoviesFilter , searchMovieByTag } from '@/helpers/api/homePage.service.js';
import { reactive } from 'vue';
import { useRoute } from 'vue-router';
import { FilterRequestModelBegin } from '@/assets/js/HomePage/Filter/FilterMovies.js';
import { onMounted } from 'vue';
import { getCurrentInstance } from 'vue'
const instance = getCurrentInstance();
//get data select
const genres = await getAllGenres();
const countrys = await getAllCountrys();
const years = await yearCurrent();
//filter 
var movies = reactive({});
const router = useRoute();
const typeMovie = router.params.typeMovie;
const key = router.params.key;
const filterModel = FilterRequestModelBegin(typeMovie, key);
const defaultGuid = "00000000-0000-0000-0000-000000000000";
var FilterRequestModel = reactive({
    genreId: filterModel.genreId,
    countryId: filterModel.countryId,
    releaseYear: filterModel.releaseYear,
    TypeSubtitle: filterModel.TypeSubtitle,
    TypeMovie: filterModel.TypeMovie,
});
var TotalPage=1;
const PageSize = 15;
var displayMovies = reactive({});
onMounted(async () => {
    if(typeMovie=="tag"){
        movies = await searchMovieByTag(key);
        //  Object.assign(movies, await getMoviesFilter(FilterRequestModel))
        TotalPage = (movies.length / PageSize).toFixed();
        displayMovies = movies.slice((currentPage - 1) * PageSize, (currentPage) * PageSize);
        instance?.proxy?.$forceUpdate();
    }else{
        movies = await getMoviesFilter(FilterRequestModel);
        //  Object.assign(movies, await getMoviesFilter(FilterRequestModel))
        TotalPage = (movies.length / PageSize).toFixed();
        displayMovies = movies.slice((currentPage - 1) * PageSize, (currentPage) * PageSize);
        instance?.proxy?.$forceUpdate();
    }
   
})
const FilterMovie = async () => {
    movies = await getMoviesFilter(FilterRequestModel);
    TotalPage = (movies.length / PageSize).toFixed();
    displayMovies = movies.slice((currentPage - 1) * PageSize, (currentPage) * PageSize);
    instance?.proxy?.$forceUpdate();
    // Object.assign(movies, await getMoviesFilter(FilterRequestModel));
}
//pagging
const UpdateCurrentPage = (value)=>{
    currentPage = value;
    displayMovies = movies.slice((currentPage - 1) * PageSize, (currentPage) * PageSize);
    instance?.proxy?.$forceUpdate();
}
const UpCurrentPage = () => {
    currentPage++;
    displayMovies = movies.slice((currentPage - 1) * PageSize, (currentPage) * PageSize);
    instance?.proxy?.$forceUpdate();
}
const DownCurrentPage = () => {
    currentPage--;
    displayMovies = movies.slice((currentPage - 1) * PageSize, (currentPage) * PageSize);
    instance?.proxy?.$forceUpdate();
}
var currentPage = reactive(1);

</script>
<style>
@import '@/assets/css/FilterPage/FilterForm.scss';
@import '@/assets/css/homePage.scss';
@import '@/assets/css/HomePage/NewMovies.scss';
</style>
<template>
    <div class="d-flex flex-column bg-dark ">
        <div>
            <form @submit.prevent="FilterMovie">
                <button class="btn btn-warning text-white " type="submit">Filter</button>
                <div>
                    <select class="form-select mb-3 " aria-label="Default select example"
                        v-model="FilterRequestModel.genreId">
                        <option :value="defaultGuid">Thể Loại</option>
                        <option v-for="genre in genres" :key="genre.genreId" :value="genre.genreId">
                            {{ genre.genreName }}
                        </option>
                    </select>
                    <select class="form-select mb-3" aria-label="Default select example"
                        v-model="FilterRequestModel.countryId">
                        <option :value="defaultGuid">Quốc gia</option>
                        <option v-for="country in countrys" :key="country.countryId" :value="country.countryId">
                            {{ country.countryName }}
                        </option>
                    </select>
                    <select class="form-select mb-3" aria-label="Default select example"
                        v-model="FilterRequestModel.releaseYear">
                        <option :value="-1">Năm phát hành</option>
                        <option v-for="year in years" :key="year.key">
                            {{ year.value }}
                        </option>
                    </select>
                    <select class="form-select mb-3" aria-label="Default select example"
                        v-model="FilterRequestModel.TypeSubtitle">
                        <option :value="0">Ngôn ngữ</option>
                        <option :value="1">Thuyết minh</option>
                        <option :value="2">Vietsub</option>
                    </select>
                    <select class="form-select mb-3" aria-label="Default select example"
                        v-model="FilterRequestModel.TypeMovie">
                        <option :value="0">Hình Thức</option>
                        <option :value="1">Phim bộ</option>
                        <option :value="2">Phim lẻ</option>
                    </select>
                </div>
            </form>
        </div>
        <div>
            <ul>
                <li class="section left"></li>
                <li v-for="item in displayMovies" :key="item.movieId" v-bind:class="'small-item'">
                    <div>
                        <a class="col-md-3" :href="'/home/details/' + item.movieId">
                            <div class="card bg-dark hover01 column">
                                <div class=" text-white">{{ item.status }}</div>
                                <div class="card-img">
                                    <figure>
                                        <img :src="item.thumbnailUrl" v-bind:class="'small-img'">
                                    </figure>
                                </div>
                                <div class="text-center card-img text-white">{{ item.title }}</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item " v-bind:class="(currentPage <= 1) ? 'disabled' : ''">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="false" @click="DownCurrentPage()">Previous</a>
                    </li>
                    <li class="page-item" v-bind:class="(currentPage == n) ? 'active' : ''" v-for="n in parseInt(TotalPage)" :key="n">
                        <a class="page-link" href="#" @click="UpdateCurrentPage(n)">{{ n }}</a>
                    </li>
                    <li class="page-item" v-bind:class="(currentPage >= TotalPage) ? 'disabled' : ''">
                        <a class="page-link" href="#" @click="UpCurrentPage()">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

