<script setup>
import { onMounted, getCurrentInstance , reactive, ref } from 'vue';
import { useRoute } from 'vue-router';
import { getDetailsMovie, getSub } from '@/helpers/api/homePage.service.js';
import VideoPlayer from '@/components/VideoPlayer.vue';
const instance = getCurrentInstance();
const router = useRoute();
const movieId = router.params.movieId;
const movie = reactive(await getDetailsMovie(movieId));
console.log(movie);
var componentKey = 0;

// onMounted(async () => {
//     getSub();
// })
var movieEpisodeId= movie.episodes[0].movieEpisodeId;
const changeEpisodeName = (episode) => {
    if (episode == '0') {
        return "Tập full"
    }
    return "Tập " + episode;
}
const convertMovie = (movieType) => {
    if (movieType == '1') {
        return "Phim bộ"
    }
    return "Phim lẻ";
}
const convertSub = (subType) => {
    if (subType == '1') {
        return "Thuyết minh"
    }
    return "Vietsub";
}
const style = ref({
    width: "600px",
    height: "400px",
    margin: "60px auto 0",
});
const options = ref({
    url: "https://localhost:5000/api/v1/playback/" + movie.episodes[0].movieEpisodeId + "/master.m3u8",
    subtitle: [{
        default: true,
        html: `<span style="color:yellow">Vietnamese</span>`,
        url: 'https://localhost:5000/api/v1/film/get-sub/a2f643eb-591b-4ec1-b2ec-a31df14b09f4/1_vn.srt',
        color: 'yellow'
    }]
});
const CallMovieEpisode = () =>{
    options.value.url = "https://localhost:5000/api/v1/playback/" + movieEpisodeId + "/master.m3u8"
    console.log(options);
    componentKey++;
    instance?.proxy?.$forceUpdate();
}
</script>

<style>
@import '@/assets/css/DetailsPage.scss';
</style>
<template>
    <body class="bg-dark">
        <div class="d-flex flex-column episodes">
            <h3 class="text-warning"> {{ movie.title }}</h3>
            <div class="videoContainer">
                <VideoPlayer :style="style" :options="options" style="width: 1300px; height: 600px;" :key="componentKey"/>
            </div>
            <div>
                <form @submit.prevent="CallMovieEpisode">
                    <button class="btn btn-secondary btn-sm episodeButton" v-for="episode in movie.episodes"
                    :key="episode.movieEpisodeId" type="submit" >
                    <input v-model="movieEpisodeId" hidden>
                    {{ changeEpisodeName(episode.episode) }}
                </button>
            </form>
            </div>
        </div>
        <div class="bg-dark">
            <table class="table table-dark">
                <tr>
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </tr>
                <tr>
                    <span class="text-warning">Tổng số đánh giá:</span>
                    {{ movie.voteCount }}
                </tr>
                <tr>
                    <td>
                <tr>
                    <span class="text-warning">Kiểu phim:</span>
                    <a :href="'/home/filter/type-movie/' + movie.typeSubtitle" class="text-white-color">
                        {{ convertMovie(movie.typeSubtitle) }}
                    </a>
                </tr>
                <tr>
                    <span class="text-warning">Thể Loại:</span>
                    <span v-for="genre in movie.genres" :key="genre.genreId">
                        <a :href="`/home/filter/genre/${genre.genreId}`" class="text-white-color">
                            {{ " " + genre.genreName + ", " }}
                        </a>
                    </span>
                </tr>
                </td>
                <td>
                    <tr>
                        <span class="text-warning">Năm phát hành:</span>
                        <a :href="`/home/filter/release-year/${movie.releaseYear}`" class="text-white-color">
                            {{ " " + movie.releaseYear }}
                        </a>
                    </tr>
                    <tr>
                        <span class="text-warning">Đạo diễn:</span>
                        <span v-for="(director) in movie.directors" :key="director.directorId">
                            {{ director.directorName + ", " }}
                        </span>
                    </tr>
                </td>
                <td>
                    <tr>
                        <span class="text-warning">Quốc gia:</span>
                        <a :href="`/home/filter/country/${movie.country.countryId}`" class="text-white-color">
                            {{ " " + movie.country.countryName }}
                        </a>
                    </tr>
                    <tr>
                        <span class="text-warning">Thời lượng:</span>
                        {{ movie.showtimes }}
                    </tr>
                </td>
                <td>
                    <tr>
                        <span class="text-warning">Diễn viên: </span>

                        <span v-for="actor in movie.actors" :key="actor.actorId">
                            {{ actor.actorName + ", " }}</span>
                    </tr>
                    <tr>
                        <span class="text-warning">Đang chiếu:</span>
                        {{ " " + convertSub(movie.typeSubtitle) }}
                    </tr>
                </td>
                </tr>

                <tr class="space">
                    <td colspan="4">
                        <span class="text-warning bigSize">Nội dung phim :</span>
                        {{ movie.overview }}
                    </td>
                </tr>
                <tr class="space">
                    <td colspan="4">
                        <span class="text-warning bigSize">Tag:</span>
                        <button class="btn btn-secondary btn-sm " v-for="tag in movie.tags" :key="tag.tagId">
                            <a>
                                {{ tag.tagName }}
                            </a>

                        </button>
                    </td>
                </tr>
            </table>
        </div>


    </body>
</template>
