<script setup>

import NewMovieView from './HomeViewElement/NewMovieView.vue';
import SlideHotMoviesView from './HomeViewElement/SlideHotMoviesView.vue';
</script>

<template>
    <div >
    
    
    <Suspense><SlideHotMoviesView /></Suspense>
    
    <Suspense><NewMovieView /></Suspense>
    
    </div>
</template>
