<script setup>
import { reactive } from 'vue';
import { useUserIdentity } from '@/stores/store.auth.js';

const user = reactive({
    username: '',
    password: ''
})

const isRemember = reactive({
    isChecked: false
})

const loginUser = async () => {
    try {
        const userIdentity = useUserIdentity();
        await userIdentity.login(user.username, user.password);
    } catch (error) {
        console.log(error)
    }
}
</script>

<template>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center mt-5">
                <form @submit.prevent="loginUser" class="authen-form">
                    <div class="form-outline mb-3">
                        <h1>Login</h1>
                    </div>
                    <div class="form-outline mb-3">
                        <label for="login-email" class="form-label">Username</label>
                        <input
                            v-model="user.username"
                            type="text"
                            class="form-control"
                            id="login-email"
                            aria-describedby="emailHelp"
                        />
                    </div>
                    <div class="form-outline mb-3">
                        <label for="login-password" class="form-label">Password</label>
                        <input
                            v-model="user.password"
                            type="password"
                            class="form-control"
                            id="login-password"
                        />
                    </div>
                    <div class="mb-3 form-check">
                        <input
                            v-model="isRemember.isChecked"
                            type="checkbox"
                            class="form-check-input"
                            id="exampleCheck1"
                        />
                        <label class="form-check-label" for="exampleCheck1">Remember me!</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.authen-form {
    width: 360px;
    background-color: rgba(0.1, 0.1, 0.1, 0.8);
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;

    h1 {
        color: #ffffff;
    }
}
</style>
