<script setup>
import { reactive, toRaw } from 'vue';
import { useUserStore } from '@/stores/store.user.js';

const user = reactive({
    email: '',
    fullname: '',
    gender: false,
    password: '',
    username: ''
});

const registerUser = async () => {
    try {
        const userStore = useUserStore()
        await userStore.userRegister(toRaw(user))
    } catch (error) {
        console.log(error)
    }
};
</script>

<template>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center mt-5">
                <form @submit.prevent="registerUser" class="authen-form">
                    <div class="form-outline mb-3">
                        <h1>Register</h1>
                    </div>
                    <div class="form-outline mb-3">
                        <label for="register-fullname" class="form-label">Fullname</label>
                        <input
                            v-model="user.fullname"
                            type="text"
                            class="form-control"
                            id="register-fullname"
                        />
                    </div>
                    <div class="form-outline mb-3">
                        <label for="register-email" class="form-label">Email</label>
                        <input
                            v-model="user.email"
                            type="text"
                            class="form-control"
                            id="register-email"
                            aria-describedby="emailHelp"
                        />
                    </div>
                    <div class="form-outline mb-3">
                        <label for="register-gender" class="form-label">Gender</label>
                        <select
                            id="register-gender"
                            v-model="user.gender"
                            class="form-select"
                            aria-label="Default select example"
                        >
                            <option selected :value="true">Male</option>
                            <option :value="false">Female</option>
                        </select>
                    </div>
                    <div class="form-outline mb-3">
                        <label for="register-username" class="form-label">Username</label>
                        <input
                            v-model="user.username"
                            type="text"
                            class="form-control"
                            id="register-username"
                            aria-describedby="emailHelp"
                        />
                    </div>
                    <div class="form-outline mb-3">
                        <label for="register-password" class="form-label">Password</label>
                        <input
                            v-model="user.password"
                            type="password"
                            class="form-control"
                            id="register-password"
                            aria-describedby="emailHelp"
                        />
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.authen-form {
    width: 360px;
    background-color: rgba(0.1, 0.1, 0.1, 0.8);
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;

    h1 {
        color: #ffffff;
    }
}
</style>
