.episodeButton{
    margin-left: 5px;
}
.episodes{
    margin-top: 20px;
    margin-bottom: 20px;
}
.checked {
    color: orange;
}
tr.space>td
{
    padding-top: 2em;
}
.bigSize{
    font-size: large;

}
a:hover {
    color: orange;
}
.text-white-color{
    color: white;
}
.icon-play {
    background: rgba(255, 150, 1, .75);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
    cursor: pointer;
    opacity: .7;
}
.videoContainer {
    position: relative;
}

.playBtn {
    position: absolute;
    width: 76px;
    height: 76px;
    left: 50%;
    top: 50%;
    margin-left: -48px;
    /*half of the width */
    margin-top: -48px;
    /*half of the height */
}
.background{
    background: url(imgs/my-background-image.png);
        background-size: cover;
}
