


.column div {
    position: relative;
    float: left;
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

/* Zoom In #1 */
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}