.logo {
    width: 100px;

}

ul li a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
}
 .scrollable-menu {
     height: auto;
     max-height: 350px;
     overflow-x: hidden;
 }
 ul.navbar-nav li.nav-item a:hover {
    color: orange;
 }

 .hover01 figure img {
     -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }

 .hover01 figure:hover img {
     -webkit-transform: scale(1.3);
     transform: scale(1.3);
 }
 